* {
    box-sizing: border-box;
    max-height:max-content;
    
}
.hero {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    height: 500px;
}
.links {
    
    display: flex;
    padding-right: 30px;
    gap: 30px;
    
}
.title {
    display:flex;
    border: 8px solid olive;
    margin-left: 200px;
    justify-content: space-between;
    flex-direction: row-reverse;

}
.logo-links{
    display:flex;
    align-self: stretch;
    padding-top: 20px;
    border: 8px solid black;
    margin-left: 200px;
    justify-content: space-between;
    margin-bottom: 100px;
    width: 1500px;
}
button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 6px;
    padding: 6px;
    width: 85px;
}
.img1 {
    width: auto;
    height: auto;
    margin-right: 350px;    
}

/* Mid section with four pics+descriptions*/
.row {
   display:flex;
   justify-content: center;
   text-align: center;
   justify-items: center;
   width: 1400px;
   border: 6px solid blueviolet;
   margin-left: 300px;
   margin-right: 300px;

   
   }

.column {
    width: 33.33%;
    background-color: rgb(255, 255, 255);
    height: 500px;
}

img {
    width:300px;

}


/*Some random information*/
h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    font-size: 36px;
}

/*Quote Section*/
.quote {
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    height: 350px;
    display: flex;
}
.text {
    width: 800px;
    border: 6px solid black;
    font-size: 36px;
    font-weight:lighter;
    color: rgb(110, 107, 107);
}
.thor {
    font-weight: bolder;
    text-align: end;
    color: black;
    font-size: 25px;
}

    
.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;

    
}   

.time {
    
    width: 1000px;
    height: 150px;
    background-color: #3882f6;
   
}

.call {
    text-align:left;
    color: #E5E7EB;
    padding-top: 15px;
    padding-left: 50px;
    font-size:24px;
}
.action{
    text-align:left;
    color: #E5E7EB;
    padding-left: 50px;
    font-size: 17px;
}    
#sign {
    margin-left: 200px;
    width: 100px;
    border: 1px solid white;
    
}